option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elasticbeanstalk:container:python:
    WSGIPath: sylvaline.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: sylvaline.settings
    PYTHONPATH: /var/app/current
    DEBUG: "False"
    SECRET_KEY: "e4*=#xtw*flbvn0_!tf_l3o)fi_8g$a#s)yji@mgrr5^cw%v7l"
    ALLOWED_HOSTS: "*"
